{% extends 'base.html.twig' %}

{% block title %}Shop Administration{% endblock %}

{% block body %}
<div class="m-5">
    {% include "_partials/_btn_go_back.html.twig" %}
    <div class="row">
    <main class="container mt-4">
        <section class="row">
            <div class="col-12">
                <h1 class="text-info" > Add New Shop </h1>
                 {% include 'admin/shop/_form.html.twig' %}   

            </div>
        </section>
     </main>   





{% endblock %}
{% block footer %}
     
{% endblock %}
